[2021-02-28 18:28] scouech opened #4 "Test"
## 👋 Welcome!
  We’re using Discussions as a place to connect with other members of our community. We hope that you:
  * Ask questions you’re wondering about.
  * Share ideas.
  * Engage with other community members.
  * Welcome others and are open-minded. Remember that this is a community we
  build together 💪.

  To get started, comment below with an introduction of yourself and tell us about wh

[2021-02-28 18:31] #4 closed

[2021-03-02 16:24] scouech opened #5 "Background audio is too loud"
A few people have reported that the background audio volume is too high when starting a meditation.

What we should be doing is to probably have it at 60% by default like it was before adding the background audio volume control.

[2021-03-03 21:10] botsonthego commented on #5
not only that when using background audios at 55% to 27% the audio come out strage as if its butting in and out

[2021-03-04 13:41] scouech opened #6 "How and When to use Issues"
_[WIP]_

**Please use _Issues_ only for technical bugs** (i.e. app crashing, glitches etc)

For ideas and feedback related to the packs, meditations and app, use [Discussions](https://github.com/meditohq/medito-app/discussions).

[2021-03-04 14:14] michaelcspeed opened #33 "Create better Skeleton loading screen for Packs Widget"
Current Implementation is this:

[code]

TileItem is deprecated and should be removed. It would be nice for this to be its own widget, and not rely on any blank data classes.

[2021-03-04 14:19] michaelcspeed opened #36 "_getTwoColumns() method needs improvement"
The current `_getTwoColumns()` in `packs_screen.dart ` calculates the width of the each column as such

`double _getColumnWidth() => MediaQuery.of(context).size.width / 2 - 8;`

This is because AutoSizeText is probably provided with unbounded constraints.
The implementation is ugly and messy.

Also this widget should be moved into its own Stateless(or Stateful?) widget

[2021-03-04 14:22] michaelcspeed opened #37 "Downloads don't work on iOS"
Downloads don't work on iOS - this might be due to the `getApplicationSupportDirectory()` method of the `path_provider` package.

See `lib/audioplayer/download_class.dart`

This also means that background audio is not possible on iOS (because the current implementation downloads the file as soon as you choose it in the `session_options_screen`)

[2021-03-04 14:25] michaelcspeed commented on #36
From Stackoverflow: https://stackoverflow.com/questions/53882591/autoresize-text-to-fit-in-container-vertically

[code]

[2021-03-04 14:48] scouech commented on #5
@botsonthego sorry but I'm not sure I understand. Do you mean that even when the volume is at 27% it is still very loud? Cheers

[2021-03-06 12:07] michaelcspeed opened #43 "[BUG] Offline sessions not showing"
**Describe the bug**
Once you download the app, when you go offline you can't see the sessions anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a session
2. Click on available offline: yes
3. Go offline
4. Reload the app
5. The pack don't load

**Expected behavior**
You should be able to navigate to the sessions

**Smartphone (please complete the following information):**
Only s

[2021-03-11 09:39] ilyamochalov opened #54 "[GH Actions] unit tests and lint checkers on pull requests"

[2021-03-11 09:41] ilyamochalov opened #55 "[GH Actions] build pipeline"
We need a build pipeline for both iOS and Android + post to the play store and app store

[2021-03-11 11:09] scouech commented on #55
would be ideal!

[2021-03-11 13:01] porfirioribeiro commented on #55
I don't know how easy it is to implement in GH Actions
We use https://codemagic.io and it's very nice. You can build and sign for Android, iOS, Web, Desktop...
I guess you can go with the free plan, it should be more than enough.
And if it isn't, you can talk to them and they would probably increase your build minutes.

By the way, nice work on this app, i honestly appreciate it :100:

[2021-03-11 17:28] michaelcspeed commented on #55
@porfirioribeiro I was using CodeMagic but the free plan doesn't allow for more than one user. I emailed them multiple times to ask if they do a non-profit discount and they never replied. Hence the switch to github, if possible! :)

[2021-03-11 18:31] porfirioribeiro commented on #55
@michaelcspeed ohh that sucks. Good luck implementing with GH actions :)

[2021-03-24 17:48] michaelcspeed commented on #5
fixed in latest release

[2021-03-24 17:48] #5 closed

[2021-03-26 11:09] michaelcspeed opened #74 "[BUG] App sometimes gets stuck open"
"the app won't close, when the recordings have finished playing the app stays open and I have to restart my phone to close it."

From Google Play Review

**Smartphone (please complete the following information):**
 - Device: Galaxy S9
 - OS: Android 8

[2021-03-26 15:58] #54 closed

[2021-03-31 17:16] #33 closed

[2021-03-31 17:16] michaelcspeed commented on #33
Just removed TileItem for now

[2021-04-07 04:38] mohit92 commented on #37
PR for the fix: https://github.com/meditohq/medito-app/pull/85

[2021-04-12 12:35] michaelcspeed commented on #43
downloads feature has been rewritten

[2021-04-12 12:35] #43 closed

[2021-04-14 00:12] devtayls opened #95 "Developer Documentation"
I'm new to flutter development and don't really know how to build the project.

We should beef up the contribution guide to walk people through initializing and running the project.

A good place for this guide would be README.MD

[2021-04-14 18:06] #37 closed

[2021-04-14 18:06] michaelcspeed commented on #36
This page has now been removed

[2021-04-14 18:06] #36 closed

[2021-04-14 18:53] michaelcspeed opened #98 "Make widgets on Homepage wrap content"
Currently the rows on the homepage have a fixed height. We need to make them so that they wrap the content instead.

[2021-04-20 16:27] mohit92 opened #110 "Replace the usage of SharedPreferences.getInstance() Riverpod Provider"
when you do SharedPref,getInstance(), it is an async function even if it returns the same instance every time. This results in a async function everytime we need to read/write data to shared prefs and becomes difficult to deal with in widgets.

now since we store this instance at first page, we don’t need to call the async getInstance method every time and can access sharedprefs in a sync manner.

[2021-04-20 19:31] scouech commented on #95
hey @devtayls. What would help? More like a step by step guide? Do you have ideas?

[2021-04-22 11:19] scouech opened #111 "Android notification showing a part of the session description"
(android) Play a session and look at the notification.
Next to the app name in the notification is shows the beginning of the session description (see image attached).

If we could remove it for now it would be good as it has very little value.
In the future we could replace it by the pack name for example.

![Screenshot_20210422-164347_2](https://user-images.githubusercontent.com/26603052/1157058

[2021-04-23 15:57] michaelcspeed opened #116 "Create internal links with markdown"
For example I could add a link //medito/article/{{article.id}} or something in a folder header description and it would open the related article on tap

[2021-04-23 18:28] #98 closed

[2021-04-24 11:59] michaelcspeed opened #119 "[iOS] Flinging down hard on the homepage makes page bounce back up"

[2021-04-24 17:49] scouech opened #121 "'Try again' to show it's trying again"
When offline and tapping "Try again", make a little snackbar appear to inform user it's trying again (or something similar)

[2021-04-25 09:46] scouech opened #122 "Order narrator/voice"
**Screen:** Player option screen

**Affects:** Narrator row

**Currently:** The narrators/voices are returned in a random order.

**Expected behaviour:** We should order narrators from Z to A.
So if we have Steven, Will, Tiffany, we will get Will, Tiffany, Steven.

[2021-04-25 09:48] #74 closed

[2021-04-26 09:23] scouech opened #123 "Shareable quote"
We have the daily message / quote on the home screen.
Coud we do so that when you tap on the quote, it opens the sharing dialog / share bottom sheet?
We should "medito.app" at the end of the quote/message

[2021-04-26 09:28] scouech opened #124 "[iOS] Bouncing screen when scrolling hard"
On home screen if you go to the bottom of the screen by scrolling quite rapidly it bounces back up. If we could stop that it would be great :)

[2021-04-26 11:32] michaelcspeed commented on #119
fixed here https://github.com/meditohq/medito-app/commit/7c06e6b6a7e4def8c641c7acac95124a5cf3c5fc

[2021-04-26 11:32] #119 closed

[2021-04-26 11:33] michaelcspeed commented on #124
fixed https://github.com/meditohq/medito-app/commit/3f5e44bf53fa7620522c449350681398ec95f66b

[2021-04-26 11:33] #124 closed

[2021-04-27 14:09] #123 closed

[2021-04-29 12:00] behradkhadem opened #126 "App stops loading audio file after screen gets turned off"
Hi and thanks for your good app.
Whenever I'm having an unguided meditation, after a certain time it stops downloading the audio file from internet. And when I unlock my phone after some time, it starts counting time from 10:00 (for a 10 min session) and I don't hear second bell sound. When I set a timer, at 10 minute mark phone starts ringing but apps gets shut down. I think this problem can be s

[2021-04-29 16:51] michaelcspeed opened #127 "Stats background sticks after page loads"
**Describe the bug**
When the Home page loads, the stats background stays where it is, while the actual widget itself moves down the page

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app from cold

**Screenshots**
![image](https://user-images.githubusercontent.com/4272338/116588376-c89ee600-a91b-11eb-8bf7-ee56228c81f6.png)

**Smartphone (please complete the following information)

[2021-04-30 11:57] ansh-les commented on #126
I have faced the same issue. I got so confused as to why my meditation timer never went off.
My device is OnePlus Nord

[2021-04-30 17:15] scouech commented on #126
hey @behradkhadem & @ansh-les
we are rolling out the new update from today. Once you have got it would you mind letting me know if you still experience the same problem? Thank you!

[2021-05-01 03:38] behradkhadem commented on #126
Sure! I checked now but I didn't see anything on Google play.

[2021-05-01 19:49] scouech opened #129 "Add version number to post calls"
Add version number to post calls

[2021-05-01 19:53] scouech opened #130 "Change background sound icon to volume icon (Player screen)"

[2021-05-02 08:53] scouech commented on #126
It's being rolled out so it might take a while to show up on your side :)

[2021-05-02 08:55] #111 closed

[2021-05-02 09:20] scouech commented on #129
Every time we post to `usage` we should post the app version number to the field `app_version`.
The field has been created so you should be able to pass data to it :)
You cannot see the data, so please ping me on slack if you need to test it

[2021-05-02 09:32] scouech opened #131 "Round Duration up"
**Screen**: Session option screen

**Affects**: Duration row

**Currently**: If you go to the course Get Started > What is mindfulness, the duration shows 2 min but if you play the audio it's 2 min 36. We are rounding the duration down on the option screen.

**Expected behaviour**: We should round the durations up, so in the above case it would show 3 min on the option screen.

[2021-05-02 16:36] scouech opened #132 "Create downloadable APK"
If we could (automatically?) generate a downloadable APK that we could host on github it would be fantastic!

[2021-05-02 19:56] scouech opened #134 "article_tapped action type not sent"
It seems we are tracking the action for an article tapped, however we aren't sending the type `article_tapped` with the `POST` call. Right now it's empty.
Would be great if we could post the type with the action

[2021-05-03 09:33] michaelcspeed commented on #130
fixed e3e32568f5e13899b23c9a93df6d017f230bf45c

[2021-05-03 09:33] #130 closed

[2021-05-03 15:29] scouech opened #135 "Fix IP address (from local to public)"

[2021-05-03 15:29] #131 closed

[2021-05-03 15:29] #134 closed

[2021-05-03 15:29] #135 closed

[2021-05-03 15:30] scouech opened #136 "Fix null for sort background sounds"

[2021-05-03 15:30] #136 closed

[2021-05-03 17:55] scouech opened #137 "Remove 'role' from POST /users"
First time the app is opened, we do generate a token and id.
To create them we do a `POST` to `/users/` with a bunch of parameters, including `role`.
We don't need role anymore because we handle it from the server side so it can be removed from the body.

[2021-05-03 18:17] scouech opened #138 "Make author name tappable on player screen"
**Steps**
1. Go to `packs`
2. Select `Giovanni`
3. Select a session
4. Play it
5. On the player screen, at the top, you can see the name of the author (Giovanni)

**Problem**
`By Giovanni..` has a link on "`Giovanni..`" the link should be tappable to open the URL

[2021-05-03 18:20] scouech opened #139 "Seek bar doesn't work anymore"
The seek bar doesn't seem to have any impact on the audio playing

[2021-05-03 19:23] #129 closed

[2021-05-03 19:23] #137 closed

[2021-05-03 19:23] #138 closed

[2021-05-03 19:23] #139 closed

[2021-05-08 15:21] andrewmichaelsrsa opened #140 "Medito App"

[2021-05-08 15:48] scouech commented on #140
@andrewmichaelsrsa I think you are missing a description ;)

[2021-05-09 11:38] #140 closed

[2021-05-13 17:34] michaelcspeed commented on #122
https://github.com/meditohq/medito-app/blob/6501aa5769ab602b3e6cd6baf6a6c5c5aa07432c/lib/network/session_options/session_options_bloc.dart#L76

[2021-05-13 17:34] #122 closed

[2021-05-14 03:26] harshadmanglani commented on #132
https://medium.com/mobile-development-group/github-actions-for-flutter-cf02923d7b5d

Found this @scouech
What I can do is try setting this up in my cloned personal medito repo, and once I work out the kinks I'll let @michaelcspeed and @scouech know, we can talk more then

[2021-05-14 09:37] scouech commented on #132
amazing @harshadmanglani ! Keep us posted, and if you need anything just ping us of course :)

[2021-05-14 15:21] #121 closed

[2021-05-15 16:38] #127 closed

[2021-05-17 15:50] michaelcspeed opened #147 "Trying to download a Background Sound with no connection"
When you're downloading a background sound, if there is a slow connection or no connection, at the moment, an Exception is thrown but the UI doesn't respond.
We should have a snackbar or something to indicate the error, and cancel the loading spinner

[branch: develop]

[2021-05-17 15:52] scouech commented on #147
mmm I think we shouldn't display the background sounds that aren't available instead?

[2021-05-17 17:38] scouech opened #148 "Weird flickering when closing background sound bottom sheet"
1. Play a session
2. Tap on the background sound icon
3. Close the bottom sheet by dragging it down
4. You will notice a weird flickering / ripple effect

I think it's a default behaviour but it looks odd.. I don't know if we can just remove the effect so that it doesn't show?

**DEVICES**
Pixel 2 XL

[2021-05-17 17:43] scouech commented on #126
I will close this ticket as we have done a lot of changes to the screen / app. Feel free to re-open an issue if you still encounter the problem :) Cheers

[2021-05-17 17:43] #126 closed

[2021-05-20 07:38] scouech opened #150 "Don't start audio automatically when tapping on duration"
1. Go to timer
2. Tap on a duration
3. The audio starts by itself

It's a bit of a pain point because you have to pause the audio to then select a background sound and then play it again. So ideally we want to stop the audio from playing by itself.

[2021-05-22 12:14] michaelcspeed commented on #150
fixed in a6fab60970d1faf36c3bf3e3979b43ac20720102

[2021-05-22 12:14] #150 closed

[2021-05-22 12:22] michaelcspeed commented on #147
Relevant file: lib/widgets/player/background_sounds_sheet_widget.dart
`Line 182:` Right now it shows the list of all background sounds and caches the list. When you click on one, it downloads the mp3.

For better offline functionality, we would need to save a list of the files that are downloaded, and only show that list if there is no connectivity.

We can check the connectivity with `await (Conn

[2021-05-22 13:58] michaelcspeed opened #151 "Find a better solution for auth.dart"
Currently the auth token is stored in a file `networkauth.dart` that is not checked into version control. This means that each new developer needs to create this file and manually paste in their config.

The file when given to other volunteers currently looks like this"
[code]
The blank tokens are only used in production and are added to the project during the build pipeline.

It would be good to

[2021-05-22 17:06] qtdzz commented on #151
I guess the reason you don't want to push `auth.dart` is that you want to hide the endpoint and content token from public, especially bots. If someone really wants to get the endpoint and CONTENT_TOKEN, they can easily extract them from the production app or inspect them via network tools. Here are my humble opinions based on that assumption.

If we can't hide it completely and only want to protec

[2021-05-23 10:04] qtdzz commented on #55
I don't have prior experience with [FastLane](https://docs.fastlane.tools/) but from what I read, it is very cool. It can deploy to beta/production for both iOS and Android. Some references for integration with flutter:
- https://flutter.dev/docs/deployment/cd#integrating-fastlane-with-existing-workflows
- https://medium.com/flutter-community/deploying-flutter-ios-apps-with-fastlane-and-github-act

[2021-05-23 14:47] noesnaterse commented on #148
I cannot reproduce this.
1. I play a session
2. Tap the background sound icon.
3. The screen goes a bit darker to focus on the background sound sheet.
4. I drag the bottom sheet down again.
5. The sheet goes down and the screen will become brighter again in one fluent motion.

I am doing this on a Samsung A40 running Android 11.

[2021-05-24 10:30] jthure commented on #147
I'll give this issue a try!

[2021-05-24 13:47] scouech commented on #147
Awesome! Thanks @jthure ! :)

[2021-05-24 13:53] scouech opened #155 "Show empty state on downloads screen once all downloads are removed"
**Problem:**
If I have downloaded sessions, they appear under `Downloads`. If I remove all of them,`Downloads` has no empty state.
If I close the screen and go back to it, the empty state shows again

**Steps to reproduce:**
1. Add a few downloads
2. Go to the `Downloads` shortcut on the homescreen
3. Remove the downloads
4. The screen is empty, there is no empty state

**Fix needed:**
We want to

[2021-05-24 14:03] scouech opened #156 "Better offline message"
We have moved the downloads, and they are now showing on the home screen.
If I go offline, the home screen shows me an error message with a `Try again` button.

**To reproduce:**
1. Turn airplane mode on
2. Open the app

Problem:
I can't open my downloaded sessions because it's on the -now inaccessible- home screen.

**Potential solution:**
Next to the `Try again` button, we could display a button

[2021-05-24 14:07] scouech opened #157 "Re-order downloads"
A few people have asked to have the option to re-order their downloaded sessions.
We can have a simple drag and drop behaviour to allow re-ordering the list?

I don't think we need to make it obvious...having it as an hidden feature is fine in my opinion.
If you think it's better to indicate it somewhere, we could use the snackbar we are already using to indicate how to delete a downloaded session

[2021-05-24 14:55] harshadmanglani commented on #132
Update: I was able to figure out how to get it to work on GitHub, but we're having some trouble with the keystore required to generate the APK, that might take a while to resolve.

[2021-05-24 19:01] michaelcspeed opened #158 "Player screen goes to completed state on tapping screen off"
Turning the screen off before starting a session makes the player screen lose its state

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a session and open the player
2. Turn the screen off
3. Turn it back on again
4. The player looks like the session has completed

**Expected behavior**
The player looks like it does before the screen was turned off

**Devices**
Pixel 2 XL

**Additional

[2021-05-25 14:49] noesnaterse commented on #151
That sounds like something that could be workable. It does need a lot of setup for new developers to take in.
I would personally go for a register developer account, and provide the key in the members area of that user.
Only have to register developers, not regular users to keep the barrier as low as possible.

That seems to be the most used thing to do nowadays.

[2021-05-25 16:02] michaelcspeed commented on #148
@scouech could you attach a video of what you mean please?

[2021-05-25 16:12] scouech commented on #148
Sure.

See attached.

You can see a ripple effect at the top of the bottom sheet when closing it. It looks quite weird/really obvious. Kinds of feel slow too?

 https://user-images.githubusercontent.com/26603052/119531561-57204f00-bd84-11eb-9989-080c02f8ad9e.mp4

[2021-05-25 17:07] michaelcspeed opened #159 "Remember last selected Voice"
When selecting a voice and starting a session, the app should remember your choice and the next time you open a session, if that narrator is available, the length options for that voice should be expanded.

For example in this screen, the last selected voice would have been Morgan:
<img width="200" alt="Screenshot 2021-05-25 at 19 06 57" src="https://user-images.githubusercontent.com/4272338/11953

[2021-05-25 17:11] michaelcspeed opened #160 "Remember Background sound choice"
When a session is started with a background sound, the choice of background sound should be stored in SharedPreferences.

From then on, when a session is started (and if background sounds are enabled for this session - some sessions do not have them for example in the Nature Sounds pack) this background sound should be automatically selected (pressing Play without opening the background sounds bot

[2021-05-25 17:27] michaelcspeed commented on #156
button added here 4ea78e0df765436a2b74ad4b8e33bc16dfd5e2f8

[2021-05-25 17:27] #156 closed

[2021-05-25 20:57] porfirioribeiro commented on #132
Hey @harshadmanglani, i just read [this article](https://andreytreyt.medium.com/sign-and-upload-apk-file-of-flutter-application-with-github-action-91f4dc60daab), maybe it helps?

[2021-05-26 06:50] noesnaterse commented on #148
Aha, I didn't even notice that. Had to view the video a couple of times to see it.
To be clear, it the the sheet that goes down really jerky right?
That happens to me too :)

[2021-05-26 07:16] scouech commented on #148
Yes correct :)

[2021-05-26 19:47] michaelcspeed opened #161 "Pull to refresh cuts off content (iOS)"
When doing a Pull to Refresh on Session Options screen and Folder Nav Screen, if the content is shorter than the screen, it gets chopped off

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Sleep (on iOS)
2. Do a pull to refresh

**Expected behavior**
The content scrolls normally and does not get cut

**Screenshots**
<img width="300" alt="Screenshot 2021-05-26 at 21 46 33" src="https://

[2021-05-27 08:28] #55 closed

[2021-05-28 04:49] harshadmanglani commented on #132
Hey @porfirioribeiro thanks, checking it out right now!

[2021-06-02 14:51] scouech commented on #147
hey @jthure, how is it going?

[2021-06-03 17:17] jthure commented on #147
I was hit by a massive workload at work, so I haven't had much time to spare, but I've looked into it and have a solution in mind. I'll get a pr submitted shortly :)

[2021-06-05 05:32] behradkhadem commented on #126
Hello everyone, I updated app to new version few days ago and I'm testing it since. It's the same and problem still exists. When there is no background sound, app stops loading and playing and closes it. I have this problem in "Daily Meditation" and "Meditation Timer", and other segments work properly, even without background sound.

[2021-06-07 13:23] scouech opened #164 ""Today's quote / Daily message" area is misaligned"
Depending on the length of the quote in the `daily message` area, the content is misaligned (see screenshot)

![2021-06-07 3 19 30 PM](https://user-images.githubusercontent.com/26603052/121023947-0bb66980-c7a4-11eb-8483-9dbef45407bd.jpg)

[2021-06-08 19:45] #164 closed

[2021-06-10 06:34] scouech opened #165 "Allow announcement main CTA to be empty"
On the announcement (showing at the top of the home screen), we should allow the main CTA (`"button_label"`) to potentially be empty (empty or `null`).

In this case, only `Dismiss` would show up in the announcement.

**Why?**
Sometimes we just want to give some info without necessarily have a main action to perform.

[2021-06-10 07:12] sentry-io[bot] opened #166 "UnsupportedError: Unsupported operation: Infinity or NaN toInt"
Sentry Issue: [MEDITO-FOUNDATION-Y](https://sentry.io/organizations/medito-foundation/issues/2446963670/?referrer=github_integration)

[code]

[2021-06-10 07:14] sentry-io[bot] opened #167 "SocketException: SocketException: Failed host lookup: 'api.medito.app' (OS Error: No address associated with hostn..."
Sentry Issue: [MEDITO-FOUNDATION-R](https://sentry.io/organizations/medito-foundation/issues/2444061081/?referrer=github_integration)

[code]

[2021-06-11 07:52] #155 closed

[2021-06-11 11:29] harshadmanglani commented on #158
I'm going to look into this and try to figure out what's happening.

[2021-06-12 07:31] qtdzz commented on #158
@michaelcspeed  @harshadmanglani I actually looked at this and was able to reproduce in the `audio_service` library example as well.
Here is my speculation. This seems to be the current limitation of the audio_service. The service won't start until we actually explicitly tell [it to play the audio](https://github.com/ryanheise/audio_service/blob/b9c89df1f115c8e304af080afa8c8208c56f258f/android/src

[2021-06-12 09:14] michaelcspeed commented on #158
From my understanding, the service starts when you call `AudioService.start` which we're doing [here](https://github.com/meditohq/medito-app/blob/develop/lib/widgets/player/player_widget.dart#L525). Otherwise you wouldn't even get the MediaItem in the first place, I assume.

`v0.18` sounds very promising though! It would be great to refactor the audio_player.dart file at some point because it's a

[2021-06-12 14:40] qtdzz commented on #158
Yeah, I realized that. But if you look a bit deeper, it only "starts" on the Dart interface. Under the hood, it calls [`AudioService#init`](https://github.com/ryanheise/audio_service/blob/b9c89df1f115c8e304af080afa8c8208c56f258f/android/src/main/java/com/ryanheise/audioservice/AudioService.java#L81) in the Android side which initializes the service. The `AudioService` in the Android code doesn't s

[2021-06-12 14:41] noesnaterse commented on #148
https://user-images.githubusercontent.com/1178741/121779647-076fbf00-cb9d-11eb-871e-93b547cb0769.mp4

Here it still happening, or is this better?

[2021-06-12 15:41] scouech commented on #148
I don't think anything was changed right?

-------- Original Message --------
On Jun 12, 2021, 16:42, Noë Snaterse wrote:

[2021-06-12 17:10] qtdzz commented on #151
@noesnaterse: That also sounds like a good idea. I do have some concerns though.

I agree registering and obtaining API keys is a popular way to distribute API keys to developers. However it seems to be more suitable the use case when developers want to develop their own app connecting to the service provider.
Medito App is a single client connecting to Medito server. All Medito users are using th

[2021-06-13 10:04] michaelcspeed commented on #158
OK, good digging @qtdzz, thanks for that. I'm happy to put this on hold until the new version is released.

[2021-06-13 14:35] harshadmanglani commented on #158
@qtdzz awesome work!!

[2021-06-22 12:54] michaelcspeed opened #170 "Fix layout of Homepage on tablet/landscape mode"
**Describe the bug**
Layout is bloated on tablets in landscape mode. Specifically the shortcuts at the top of the homepage

All devices

![image](https://user-images.githubusercontent.com/4272338/122927995-b5cbef00-d369-11eb-9d4b-ba679c05e7d1.png)

[2021-06-22 17:41] noesnaterse commented on #148
Oh, it is better? Because I was wondering how to approach this ticket....
What I did is throw in a TransitionAnimationController, but I also noticed that the frame rate just drops below 60FPS on the transition. I don't know how to solve this.

[2021-06-28 08:30] specter78 opened #176 "[Feature Request] Support Apple Watch and Health App"

[2021-06-29 19:59] mic-ray commented on #157
@scouech Maybe a small icon to the right of each downloaded session, which would indicate that the items can be re-ordered,
 would be an idea? As an example: https://material.io/archive/guidelines/assets/0Bx4BSt6jniD7X0pmWjRNZ21UUFE/components-listcontrols-reorder.png.

To comply with your idea of not having it to obvious, maybe these icons only appear once you enter a "list editing mode"? Though

[2021-06-30 09:25] scouech commented on #157
hey @mic-ray , good idea yeah! The "edit mode" thing is a good idea. Maybe a first iteration would be without it, so you can hold and grad to reorder, and then second iteration we could do with an edit mode / icons maybe? Just thinking in terms of making it easy for the dev

[2021-06-30 09:27] #176 closed

[2021-06-30 09:28] scouech commented on #148
hey @noesnaterse any luck finding out a fix?

[2021-06-30 10:27] mic-ray commented on #157
I like the drag and drop idea as a first iteration. Maybe I could try to implement this using the [ReorderableListView](https://api.flutter.dev/flutter/material/ReorderableListView-class.html) widget?

[2021-06-30 11:17] scouech commented on #157
sure! Sounds good @mic-ray :)

[2021-07-06 10:34] scouech opened #182 "Following Session Option Screen changes"
- [x] Font size for labels (Pick a narrator.. Download..) seems wrong
- [x] If narrator is "none", don't add extra padding / remove empty space (see timer)
- [x] Last chip of scrollable durations has less padding than first chip (see timer duration row)
- [x] Option screen: Title is supposed to be on the right of the cover image
- [x] Folder screen: Title is supposed to be on the right of cover im

[2021-07-08 07:59] scouech opened #183 "Disable background sound if background_sound off"
Some sessions (Giovanni for example) have background_sound off. If that's the case, we should disable any background sound (playing / showing)

[2021-07-08 19:04] michaelcspeed commented on #183
This should already be complete. We will have to check

[2021-07-08 19:25] michaelcspeed commented on #182
9f99b259eade9c0b513b2aeb4caf2ed06c3e9f28

[2021-07-08 19:25] #182 closed

[2021-07-11 16:44] broxmen commented on #151
I am a frequent user of f-droid apps and can offer some suggestions based on my knowledge in the order of complexity of the user's end starting from easy. Although not an expert myself on getting an app published, I can help in the process and learn on the way.

## Pre Requisite :
Offer a flavor of the app build that follows the [Inclusion Policy](https://f-droid.org/docs/Inclusion_Policy/?title=I

[2021-07-14 10:35] #183 closed

[2021-07-14 10:45] scouech opened #186 "Session Option Screen follow up"
- [x] The description is next to the image - there should be padding between the image and description (16px between each)
- [x] Download section on SO screen - the text `VOICE - DURATION` should be the same size/color/weight as the narrator name under `Pick a narrator & duration` section (16px, medium, white)
- [x] In the same section, the padding at the bottom of the card seems a lot bigger than

[2021-07-14 10:48] scouech commented on #158
hey @qtdzz @michaelcspeed , any news related to that?

[2021-07-14 10:49] scouech commented on #132
@qtdzz @porfirioribeiro  any luck? :)

[2021-07-14 10:49] scouech commented on #157
@michaelcspeed if you could review @mic-ray PR would be nice :)

[2021-07-14 10:55] michaelcspeed commented on #158
@scouech no, we are waiting for the new version of the audio library that should fix the problem

[2021-07-18 20:33] qtdzz commented on #132
@scouech Here is my attempt https://github.com/meditohq/medito-app/pull/187. Hopefully it works.

[2021-07-22 05:52] garethyorke opened #188 "[BUG]"
Bug reported by someone on Twitter - the session keeps stopping after about 1 minute and they get the 'well done for completing 10 sessions' message.

I've asked them to uninstall, clear the cache on their phone and reinstall. I've also asked them which phone they're using.

[2021-07-23 09:02] #186 closed

[2021-07-23 09:04] #188 closed

[2021-07-23 09:11] scouech commented on #188
Not enought info - closing this

[2021-07-23 09:34] legrk opened #189 "[BUG] white banner during and after meditation not full width"
**Describe the bug**
The white banner during and after a guided meditation is not shown in full width, in contrast to other elements on the same screen. It is aligned on the left hand side of the screen. Occurs on a Android Galaxy Tab in landscape mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any meditation
2. Click on play button
4. See issues during playback and also in the s

[2021-07-26 15:44] michaelcspeed commented on #189
Thanks for this @legrk !
This image doesn't exist anymore in the newest version, but we should still check what it looks like in landscape mode. Could you update to the newest version and update here if it still needs work? Thanks!

[2021-07-27 16:55] legrk commented on #189
I will update this issue, once I get the updated app. So far it did not arrive for me in the PlayStore.

[2021-08-02 18:45] legrk commented on #189
I can confirm this is no longer an issue. So far I haven't noticed any issues on my devices.
Nice redesign!

[2021-08-02 18:45] #189 closed

[2021-08-05 10:12] scouech opened #190 ""Pick a narrator & duration" based on context"
When you open "timer" it says "pick a narrator and duration", but timer does not have a narrator. It should say "pick duration".
That should be the case for any session with no narrator (none)

[2021-08-06 07:53] michaelcspeed commented on #158
I've upgraded the libs to the new versions, but not yet checked if the problem is fixed

[2021-08-06 07:53] #157 closed

[2021-08-08 21:23] mic-ray commented on #190
@scouech Do you mind if i take a look at this? 😄

[2021-08-09 06:57] scouech commented on #190
Sure @mic-ray  :) Let me know if you need more info!

[2021-08-17 10:38] scouech opened #191 "Background image not displayed on folder screen"
A folder has a little illustration with an optional background image and a solid color.
It seems the background image doesn't display anymore (see loving kindness course for example)

[2021-08-17 10:55] harshadmanglani commented on #170
What should it look like instead?

[2021-08-17 12:34] michaelcspeed commented on #170
Doesn't matter too much to me as long as they're not huge haha Maybe 4 short tiles across? @scouech ?

[2021-08-17 14:10] harshadmanglani commented on #170
[code]
want me to go ahead and do this?

[2021-08-17 14:30] michaelcspeed commented on #170
Yeah that would be great, thanks @harshadmanglani !

[2021-08-17 15:00] harshadmanglani commented on #170
will do!

[2021-08-18 08:27] scouech commented on #190
@mic-ray any updates ? :)

[2021-08-18 08:29] scouech opened #192 "Padding missing on session option screen"
On the session option screen, if there is no description the padding should still be there below the image (see screenshot).

Example:
UCLA > Spanish > Any session there

![image](https://user-images.githubusercontent.com/26603052/129865048-0d395e6c-3663-4605-908f-d8a8ab39449b.png)

[2021-08-18 10:21] scouech commented on #147
Hey @jthure , all good?

[2021-08-18 10:21] scouech commented on #148
hey @noesnaterse , any update ?

[2021-08-18 15:44] jthure commented on #147
Sorry about my radio silence. Got occupied by other stuff and didn't get chance to finish it. I'll un-assign myself for now and get back to it when get a chance if it is still available

[2021-08-18 21:42] mic-ray commented on #190
@scouech I am sorry i wasn't able to tackle this earlier. Is it okay with you if i will attempt to solve this (or atleast take a look on it, if i run into problems) during this weekend, or is that too late for you? :)

[2021-08-21 15:30] harshadmanglani commented on #170
This is what it looks like, I've opened a PR, let me know

https://user-images.githubusercontent.com/47568882/130326875-ed40fe5a-fd2d-45d3-9b6c-935d1241c31c.mp4

[2021-08-24 20:41] aha999 opened #195 "Release on F-droid"
I think that this app should be released on F-droid, which is an open source app-store for FOSS apps and it could lead into more contributors.

It's also privacy respecting and builds apps from source code, so it guarantees app  transparency.

Also i prefer apps from f-droid because of privacy reasons and distancing from Google when possible.

<a href="https://dashboard.polar.sh/meditohq/medito-ap

[2021-08-27 09:14] harshadmanglani commented on #192
I can do this if that's okay?

[2021-08-27 09:29] harshadmanglani commented on #192
Done, I pushed the changes, it'll get reflected in the already open PR :)
![WhatsApp Image 2021-08-27 at 2 58 47 PM](https://user-images.githubusercontent.com/47568882/131105877-08ec25ba-711b-43a8-adac-ae5ac20950da.jpeg)

[2021-09-02 09:30] scouech commented on #192
thanks @harshadmanglani :) @michaelcspeed when you have some time if you could review the pR :) Cheers!

[2021-09-02 09:33] michaelcspeed commented on #192
Done! Thanks so much @harshadmanglani !!

[2021-09-02 09:33] #192 closed, assigned to nobody

[2021-09-04 16:52] harshadmanglani commented on #165
I'll take a look at this if that's okay?

[2021-09-04 16:53] harshadmanglani commented on #170
Could someone please close this if there are no more concerns?

[2021-09-04 23:32] #170 closed

[2021-09-06 06:01] scouech commented on #170
looks nice! thanks @harshadmanglani !

[2021-09-06 06:06] scouech commented on #165
@harshadmanglani sure! Would be super useful 👍

[2021-09-06 06:10] harshadmanglani commented on #165
![WhatsApp Image 2021-09-06 at 11 39 50 AM](https://user-images.githubusercontent.com/47568882/132168711-7d7439ef-9f59-465c-9494-18e0a917e400.jpeg)

Does this look fine?

[2021-09-06 06:15] scouech commented on #165
any chance we could keep the dismiss button under the announcement ?

[2021-09-06 06:16] harshadmanglani commented on #165
I'm trying to do that, and ideally it should work, but isn't. Let me get back to you.

[2021-09-06 06:17] scouech commented on #165
thanks @harshadmanglani  :)

[2021-09-10 08:06] michaelcspeed commented on #191
Confirmed. Notice the backgrounds of the images here look different

![IMAGE 2021-09-10 10:05:55](https://user-images.githubusercontent.com/4272338/132821432-923e511e-4a88-4bf7-b1f1-4cd44eeab20b.jpg)
![IMAGE 2021-09-10 10:05:56](https://user-images.githubusercontent.com/4272338/132821436-77ed2063-edd0-46e8-917f-847e41b720c7.jpg)

[2021-09-10 08:06] #190 closed, assigned to mic-ray

[2021-09-10 08:10] #148 closed

[2021-09-20 07:18] harshadmanglani commented on #165
Okay, so I just tried it out, since we're using `MaterialBanner`, this is a default. Having only one button in `actions` aligns it that way. I'll try modifying the widget a little.

[2021-09-22 10:39] michaelcspeed opened #202 "Saved bg volume doesn't update until you open the bottom sheet"

[2021-09-22 10:41] michaelcspeed commented on #202
fixed in 529d38d442f9a2e6f2ef511bf42d21b7715b7c9a

[2021-09-22 10:43] #202 closed, assigned to michaelcspeed

[2021-09-22 10:52] michaelcspeed commented on #191
Fixed in e7c44b8fdb971163fed97f43ecc587fa910b597d

[2021-09-22 10:52] #191 closed, assigned to nobody

[2021-09-22 10:54] michaelcspeed commented on #160
This is done and on the app stores

[2021-09-22 10:54] #160 closed

[2021-09-22 13:19] scouech opened #203 "External markdown links don't work (Android)"
_More details coming soon_

[2021-09-24 05:58] harshadmanglani commented on #165
blob:https://web.whatsapp.com/b4225aa9-0c27-411b-a5bd-7226c7c801c1

[2021-09-24 05:59] harshadmanglani commented on #165
![WhatsApp Image 2021-09-24 at 11 28 20 AM](https://user-images.githubusercontent.com/47568882/134625638-ebe543b1-a1da-4ec8-8505-69261db0106e.jpeg)

[2021-09-25 07:21] harshadmanglani commented on #147
I'll take a look at this!

[2021-10-08 17:49] Momen-Shili opened #209 "Slack Channel link doesn't work anymore"
Slack Channel link doesn't work anymore
(This link is no longer active
To join this workspace, you’ll need to ask the person who originally invited you for a new link.)

[2021-10-13 04:44] harshadmanglani commented on #147
Just to check if I've understood this correctly:

CASE 1: No connectivity as the app is opened - show the cached list of already downloaded background sounds or an empty list

CASE 2: There was connectivity when the app is opened but by the time the user starts the meditation, they lose connectivity - show the cached list of already downloaded background sounds or an empty list (same as case 1)

C

[2021-10-13 09:02] scouech commented on #147
Awesome! Thank you @harshadmanglani ! The 3 cases are exactly right !

[2021-10-13 12:20] harshadmanglani commented on #147
@scouech so the spinner needs to stop rotating and a snackbar should come up for case 3 right?

[2021-10-13 12:21] scouech commented on #147
Yep, i think it makes sense? Might be the easiest

[2021-10-13 12:25] harshadmanglani commented on #147
Yes okay, understood!! Yeah, does seem like it'll be easy :)

[2021-10-18 07:39] scouech commented on #209
hi @Momen-Shili , thanks for letting us know. We are discontinuing the use of slack for general users and will now be using it only for volunteers. Closing this issue :)
If you want to volunteer, check
[https://meditofoundation.org/volunteer](https://meditofoundation.org/volunteer)

[2021-10-18 07:39] #209 closed, assigned to scouech

[2021-10-20 13:21] #203 closed, assigned to nobody

[2021-10-20 17:03] harshadmanglani opened #212 "Port already downloaded bg sounds to shared prefs `setStringList`"
I'll add more details in a bit, this is a continuation to #147, but functionally independent

[2021-10-20 17:09] harshadmanglani opened #213 "Check if downloaded bg sounds are still on server"
An edge case for #147 - whenever downloaded bg sounds are shown in offline mode, there is a possibility that a bg sound on server a month ago was downloaded but now has been removed from the app. However, it would still show up whenever the user opens the app without connectivity.

We need to write a function that checks the downloaded bg sounds' _validity_ every time the user opens the app with c

[2021-10-21 07:34] harshadmanglani commented on #147
A quick update: I'm done with all 3 cases, I'm working on fixing a few bugs with the `AudioService`

[2021-10-22 12:27] shalom-aviv opened #214 "Slack link from README not working"
Slack link from README not working

https://meditofoundation.slack.com/join/shared_invite/zt-f0viisyt-VdJ7ygqNHt9sIeGzZiatlQ#/shared-invite-legacy/erro

<img width="649" alt="Screenshot 2021-10-22 at 15 26 51" src="https://user-images.githubusercontent.com/78256107/138453427-f31c1102-2bdb-4317-9e5f-4a72988af105.png">

[2021-10-28 14:36] michaelcspeed commented on #214
We are almost reaching our user limit on Slack so we have disabled the link for now :)

[2021-10-28 14:36] #214 closed, assigned to nobody

[2021-10-29 18:19] h0ru5 commented on #151
I assume currently its still the old solution?
I have an issue getting it compiled as it seems the Slac link is outdated...

[2021-11-03 14:05] IzzySoft commented on #195
Until you're ready for "F-Droid proper" (which e.g. doesn't accept Firebase): there was [a request](https://gitlab.com/IzzyOnDroid/repo/-/issues/208) to include your app with my repo. If you could make the APK files available (ideally attached to their corresponding releases here; starting with the latest one fully suffices) I could look into that. This would provide a stepping stone on the way to

[2021-12-27 03:34] DeveloperAlfa commented on #159
I'm willing to pick this up

[2021-12-28 15:37] michaelcspeed commented on #159
Thanks @DeveloperAlfa  The UI is different to how it is shown here now, but the principle should be the same (if not easier :) )

[2021-12-31 16:15] blipp commented on #214
Hi @scouech, @michaelcspeed – I also came here because I found the not-working Slack invite link in the README of this repo and on the website under https://meditofoundation.org/contact

Would it be an option for you to remove the invite link, to avoid people over and over again asking about it? :) I say that because I also sent an email to hi@ some time ago about the Slack invite link and did not

[2021-12-31 16:20] blipp commented on #214
I see you actually removed one occurrence of the Slack link with commit https://github.com/meditohq/medito-app/commit/75635ec60f34b89717d5cfb930d51d66d82d36b2 :)

The following is still in the README:

[code]

(and then the one on the website on /contact)

[2021-12-31 16:24] blipp commented on #214
It also appears here on the wiki: https://github.com/meditohq/medito-app/wiki

[2022-01-03 05:23] DeveloperAlfa commented on #159
Question on this, what is the unique identifier of a voice artist?

[2022-01-08 13:20] michaelcspeed commented on #159
Check out `lib/network/session_options/session_options_bloc.dart` and `lib/network/session_options/session_opts.dart`
Each Session has a `SessionData` file, which has a list of `AudioFile`s. Each `AudioFile` has a unique id and a related voice string and Length string. So there's no id for a voice artist, just an audio file.

[2022-01-08 13:21] michaelcspeed commented on #159
So in fact all we need to do no is save the id of the selected audio file and reselect that one when the screen loads.

[2022-01-11 14:20] #159 closed

[2022-01-11 14:42] michaelcspeed commented on #195
We would love to release the app on FDroid, we just have a few issues to work through first.
We need to find an open source Firebase alternative, which at the moment I'm fairly sure we only use for cloud messaging.
If someone could also post the other requirements here and whether or not we meet them (I can also chime in for this) that would be great 👍

[2022-01-11 14:51] michaelcspeed commented on #167
Not sure this is happening anymore so closing for now

[2022-01-11 14:51] #167 closed

[2022-01-11 15:00] aha999 commented on #195
@michaelcspeed take a look at [Supabase](https://supabase.com/)

[2022-01-11 16:08] IzzySoft commented on #195
Woah. Perfect alternative to that would be @unifiedpush – see e.g. [here](https://gitlab.com/-/snippets/1896503#push) and [here](https://android.izzysoft.de/applists/category/named/network_push). Can even fall back to Firebase for your Play releases if you want it to. Else it simply leaves the choice with the user whether they want notifications via Gotify, Nextcloud, ntfy…

Until then, let me rep

[2022-01-13 07:48] garethyorke opened #224 "QA for edited Palouse content"

[2022-01-13 07:50] #224 closed, assigned to garethyorke

[2022-01-14 17:18] SteeYo opened #225 "Set up Google Ads - 30 day challenge - £300 pw - £150 android"

[2022-01-20 02:26] desunny opened #226 "[BUG] How to get an API key? Slack link was closed on the Code page."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2022-01-23 08:31] DeveloperAlfa commented on #159
Created a new PR for fixing this. Sorry I had a confusion about the save id last time!

[2022-02-09 13:10] michaelcspeed commented on #226
Hey @desunny, sorry about the slow reply. We had to stop accepting Slack members because we were reaching the limit at which we'd have to pay. If you still want to help you can email me mike[at]meditofoundation.org
Cheers!

[2022-02-09 13:10] #226 closed, assigned to nobody

[2022-02-17 14:39] scouech opened #235 "Auto play session when tapping on "Begin" on session option screen"
We have received feedback multiple times now. It would better better from a UX perspective to start the audio when you tap "begin" from the session option screen.
In most cases the background sound will be selected (if any), otherwise they can change it anyway once the audio has started.

[2022-02-20 03:40] DeveloperAlfa commented on #235
I'll take this :+1:

[2022-02-20 05:26] DeveloperAlfa commented on #235
Here is the PR: https://github.com/meditohq/medito-app/pull/236

Tested on my device. Kindly review.

[2022-02-20 19:14] michaelcspeed commented on #235
Nice thanks @DeveloperAlfa !

[2022-02-20 19:14] #235 closed, assigned to michaelcspeed

[2022-02-25 12:51] paulgoetze commented on #95
First of all: Thanks for your great work here and the Medito app! :green_heart:

I was also trying to set it up for development and ran into issues (on Ubuntu 21.10).

`flutter --version` gives me the following setup:

[code]

After I found that I needed to create a `network/auth.dart` file and put some random values,
I was trying to build the project in VS Code with the flutter emulator (android_

[2022-03-23 15:07] michaelcspeed commented on #116
This should work now with deeplinks, but needs testing

[2022-03-30 18:31] scouech opened #241 "Downloads removed are coming back"

[2022-03-30 18:34] scouech opened #242 "Format for email support"
Could we format the first part of the email this way (while trying to keep the formatting, especially now we are using Plain, because otherwise it's all mixed up)

[2022-03-30 18:51] scouech opened #243 "Continue where you left off"

[2022-04-01 17:20] scouech opened #245 "Fix session id for rating analytics"
At the moment for `Rating ` we are gathering the `file id` rather than `session id ` under `session id` , if we could fix that would be nice :)
Please once it's done let me know so that I can drop the table

[2022-04-02 05:46] KierPrev opened #246 "App crashes when playing any audio [BUG]"
**Describe the bug**
When you try to listen to any audio, the app crashes.
No error is given.

**Smartphone (please complete the following information):**
 - Device: Motorola One Fusion
 - OS: Android 11
 - Version 2.0.36

[2022-04-02 20:20] IzzySoft commented on #195
Had you any chance to take look, @michaelcspeed? The [request for F-Droid inclusion](https://gitlab.com/fdroid/rfp/-/issues/1850) i still waiting for this. If neither Supabase nor UnifiedPush satisfied your wishes, here's one more Firebase replacement: [appwrite](https://github.com/appwrite/appwrite). And the offer with my repo is still standing, too :smile:

[2022-04-06 06:55] garethyorke opened #252 "Background sounds not working consistently"
The background sound plays for a few seconds and then switches off.

This issue doesn't seem to reproduce consistently. I've three times today and it only happened once, but we've had a review from someone saying the same thing.

[2022-04-06 06:56] garethyorke opened #253 "Background sounds not available on most third party content"
The background sounds aren't available on most third party content, but they are available for the Mindfulness Association and Palouse.

If you select a background sound on a Medito pack, and then go into UCLA for example, then the background sound plays, but you can't switch it off or change it.

[2022-04-06 08:50] garethyorke opened #254 "Can the stats be moved back to the bottom of the home screen please?"

[2022-04-09 10:25] garethyorke opened #256 "Time elapsed incorrect when a session is playing"
Issue from someon on Instagram - time elapsed says 10 mins a few seconds in.

Screen shot attached.

I've asked them to confirm what device they are using
![photo_2022-04-09 11 24 26](https://user-images.githubusercontent.com/66156346/162567949-3384736f-7f07-4bcd-958d-0503f4bfa96a.jpeg)

[2022-04-13 07:06] michaelcspeed commented on #253
Fixed

[2022-04-13 07:06] #253 closed, assigned to nobody

[2022-04-13 07:06] #246 closed, assigned to nobody

[2022-04-13 07:08] michaelcspeed opened #257 "[BUG] BG sound volume is broken"
**Describe the bug**
Volume keeps jumping around, being loud and quiet

**To Reproduce**
Steps to reproduce the behaviour:
1. Start a session
2. Play bg sounds

**Expected behaviour**
The volume should stay the same level

[2022-04-14 10:16] michaelcspeed opened #258 "[BUG] Not working with bluetooth headphones"
According to an email. We should fix this.

Might be a setting within the AudioSession library

[2022-04-16 16:07] CadMunkey commented on #258
Working with Bose NC 700 connected to Pixel 6. also working with MPOW M30.

[2022-04-18 07:30] raffing opened #259 "The progress bar no longer works when you turn back the time"
When you move the audio progress bar back, after the dot no longer moves but only time is pushed forward and the ball remains stationary.
![Screenshot_2022-04-18-09-15-29-095_meditofoundation medito](https://user-images.githubusercontent.com/8293710/163772770-a05b3ae2-d99c-4dc5-a4bd-09c6500a5d47.jpg)

[2022-04-19 11:14] AzimLalan opened #260 "Teacher's Pack Issue"
When we click on the Teacher's pack we get Societal Crisis

https://user-images.githubusercontent.com/103415639/163991444-e5bfc55c-2284-4a3c-ba10-3a7638082b4d.mp4

[2022-04-20 15:20] Granddave opened #261 "Add backup functionality"
A way of backing up user progress for such a nice app like this is IMO an important feature - almost a deal breaker for me.

Haven't seen any discussion about this after a quick search, please direct me to any discussion if it already has been taken place.

**Proposal:**
A simple file backup to local storage that either can be triggered manually or run automatically and save the last X backups tog

[2022-04-26 14:52] michaelcspeed commented on #254
Closing this as the current UI is not the final iteration

[2022-04-26 14:52] #254 closed, assigned to nobody

[2022-04-28 11:54] CodeCubeNeo commented on #195
Any updates on this?

[2022-04-28 18:47] IzzySoft commented on #195
I'm still waiting for the APK to show up :wink:

[2022-04-29 10:13] AzimLalan opened #262 "IOS background audio not playing issue"
Users complained the background audio stops

Battery drain issue
User email:
It is still draining my phone to 0%, if I forget to Force Stop it before falling asleep. Please investigate this issue!

[2022-05-03 07:55] ghost opened #264 "Slack channel link doesn't work"
Hey guys,

I just tried to join the Slack channel using the link in README.md, but Slack tells me that "This link is no longer active".

Can somebody please update the link?

Thank you! 🙌🏼

1. ![image](https://user-images.githubusercontent.com/55190118/166420491-05b4bb6f-c842-4c07-b867-b0d710dd0206.png)
2. ![image](https://user-images.githubusercontent.com/55190118/166420537-afb52b1b-42a8-4bf3-824

[2022-05-04 11:28] AzimLalan opened #265 "Cannot play Spotify music along with Medito"
User email!

I used to be able to listen to Spotify, for ambient sounds/music, at the
same as I was using Medito but unfortunately it doesn't work anymore. Now
when I put something on Spotify, it pauses the Medito meditation (and if
I try it the other way round it pauses Spotify, which was already the case
before though).
I'd love it if the option to listen to both of them at the same time again
c

[2022-05-05 10:45] ghost commented on #195
The APKs are visible

[2022-05-06 07:47] ghost commented on #261
You can back up app data with Google one in android.

[2022-05-10 05:37] athJ commented on #242
I think we should have a similar format for github issues are well .
Atleast version and device should be mentioned with the issues.

[2022-05-10 14:48] michaelcspeed commented on #262
This is also an issue on Android it seems. I think a stream must not be disposed of somewhere

[2022-05-11 14:29] AzimLalan opened #266 "Audio Issue: Abrupt end of a session"
we have received the below feedback:
I'm a regular user of your app. I really like it overall, but you've made a recent change I dislike: now the sounds (rain, waves, river) that I can select to accompany a meditation end very abruptly with the end of a session, whereas they used to fade gradually. I find the abrupt end of the sound a very jarring way to end my meditation session.  (I use the ungu

[2022-05-13 06:30] IzzySoft commented on #195
Now you just need to define where. I've looked [at the releases](https://github.com/meditohq/medito-app/releases), there are none. I've looked in the repo and saw none either. So where are they visible?

@michaelcspeed Any progress I can report back to F-Droid? The RFP is entering the candidate-to-close status now as there was no update for another month. One more month and it will be closed due t

[2022-05-13 22:02] ssaurab commented on #257
I can reproduce this behavior (iOS).

Especially at the start of each session with a pre-selected bg sound, the initial volume is abnormally high.

[2022-05-15 06:47] ghost commented on #195
I didn't notice that there are no APKs in the releases, my bad. Sorry about that.

[2022-05-15 20:00] IzzySoft commented on #195
Happens :smile: Just let me know when an APK is available there (I hope I'll get the ping then; currently it seems Github notifications no longer reach my mailbox).

[2022-05-26 10:16] michaelcspeed commented on #264
We have reached capacity in our Slack channel, but we'll be removing some inactive users soon so please check back in a few weeks if you'd like to join. :)
We've updated the readme

[2022-05-26 10:16] #264 closed, assigned to nobody

[2022-05-26 11:27] michaelcspeed commented on #266
Fixed on develop. Will be in v2.0.39

[2022-05-26 11:27] #266 closed, assigned to nobody

[2022-05-26 11:27] michaelcspeed commented on #265
Fixed on develop. Will be in v2.0.39

[2022-05-26 11:27] #265 closed, assigned to nobody

[2022-05-26 11:28] michaelcspeed commented on #260
Should be fixed now, can you retest please @AzimLalan and close if it's good? :)

[2022-05-26 11:28] michaelcspeed commented on #257
Fixed on develop. Will be in v2.0.39

[2022-05-26 11:28] #257 closed, assigned to nobody

[2022-05-26 11:29] michaelcspeed commented on #158
This is fixed in v2.0.38

[2022-05-26 11:29] #158 closed

[2022-05-26 11:30] michaelcspeed commented on #259
Fixed on develop. Will be in v2.0.39

[2022-05-26 11:30] #259 closed, assigned to nobody

[2022-05-26 11:32] michaelcspeed commented on #256
Can't reproduce this anymore. Can reopen if it happens again

[2022-05-26 11:32] #256 closed, assigned to nobody

[2022-05-26 12:00] michaelcspeed commented on #242
Fixed in develop. Will be in v2.0.39

[2022-05-26 12:00] #242 closed, assigned to michaelcspeed

[2022-05-26 12:10] michaelcspeed opened #267 "[BUG] Deep links don't work on iOS"
Deep links don't work at all on iOS but they do on Android. Scheme on iOS is currently `customscheme` but should be https:// if possible

version 2.0.37

[2022-05-26 12:10] michaelcspeed commented on #116
Updated here https://github.com/meditohq/medito-app/issues/267

[2022-05-26 12:10] #116 closed

[2022-05-26 12:31] #260 closed, assigned to nobody

[2022-05-26 12:31] scouech commented on #252
Should be fixed with the new update. Closing this @garethyorke - reopen if still experiencing

[2022-05-26 12:31] #252 closed, assigned to nobody

[2022-05-26 12:51] michaelcspeed commented on #262
fixed on dev. will release in 2.0.39

[2022-05-26 12:51] #262 closed, assigned to nobody

[2022-05-26 13:12] michaelcspeed commented on #245
fixed on dev. will release in 2.0.39

[2022-05-26 13:12] #245 closed, assigned to michaelcspeed

[2022-05-26 13:13] #166 closed

[2022-05-26 13:49] michaelcspeed commented on #132
This is complete now, thanks to @qtdzz. When I create a new play store release, an apk will be uploaded here
https://github.com/meditohq/medito-app/releases

[2022-05-26 13:49] #132 closed

[2022-05-26 13:50] michaelcspeed commented on #195
@IzzySoft APK is now available here https://github.com/meditohq/medito-app/releases, and new versions will be automatically uploaded there too.

We have removed the Firebase libraries, so we are one step closer to FDroid too :)

[2022-05-26 13:51] michaelcspeed commented on #258
thanks for testing @CadMunkey

we can close this for now

[2022-05-26 13:51] #258 closed, assigned to nobody

[2022-05-27 00:21] IzzySoft commented on #195
Thanks! I've just added it to my repo now, as my scanner confirmed. I see you're using Sentry now. Have you configured it opt-in, or is it enabled by default? Do you self-host the server part?

One more thing I wonder is that Play says the app is just 3.5M while the APK is rather close to 30M. Did that change recently? Note that the size limit in my repo is 30M per app, so I cannot keep multiple v

[2022-05-27 10:24] michaelcspeed commented on #195
We have been using Sentry for a while, yes. It's enabled for everyone but maybe that's something we should think about. We don't self-host it. You can read about privacy notice here https://docs.sentry.io/product/security/mobile-privacy/ and here https://sentry.io/privacy/

The APK contains all the configurations for all phone types, which is why it is much larger. The package hosted on the Play S

[2022-05-27 12:03] IzzySoft commented on #195
Thanks! So for now the app is flagged "Tracking" (due to Sentry being enabled by default). Once you've made it opt-in please drop me a note so I can drop that anti-feature (an white-list your Sentry).

As for APK-size: I should have guessed; yes, that explains. If you'd consider an ARM only APK (i.e. both ARMs but no x86), I could switch to that – and probably allow for 2 versions to be kept then,

[2022-05-28 20:36] andrasferenczi opened #268 "[BUG] Slider position does not update its position"
**Describe the bug**
When listening to a meditation session, the audio is playing, the seconds are updated, but the slider position is not adjusted.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a session, don't go anywhere
2. Click on the slider to go to a position
3. See that the slide does not move

**Expected behavior**
A clear and concise description of what you expected to happ

[2022-05-30 10:53] michaelcspeed commented on #195
Cool. Let's make new issues for those jobs then. I will close this ticket now :) 🥳

[2022-05-30 10:54] michaelcspeed commented on #268
Can you please check the version number? You have to long press the Good Afternoon/Morning text on the main page (I will update the instructions now)

[2022-05-30 11:47] andrasferenczi commented on #268
I got it, updated the issue accordingly.

[2022-05-30 11:55] blipp commented on #195
For completeness, if I am not mistaken, the Medito app is not yet on F-Droid, that is, not yet in the official repository (see the [empty search result on f-droid.org](https://search.f-droid.org/?q=medito&lang=en)). It is in the IzzyOnDroid repository, that can be used with F-Droid (https://apt.izzysoft.de/fdroid/index/apk/meditofoundation.medito), but this repository is not used with F-Droid by d

[2022-05-30 12:21] CodeCubeNeo commented on #195
I agree, lets try to get medito in the official fdroid repositories.

[2022-05-30 13:01] ghost commented on #195
https://gitlab.com/fdroid/rfp/-/issues/1850
There is an issue open about this

[2022-05-30 13:44] michaelcspeed commented on #268
OK could you please update to the latest version [v2.0.42] and retest?

[2022-05-30 13:45] michaelcspeed commented on #241
Can anyone reproduce this?

[2022-05-30 14:26] andrasferenczi commented on #268
This is the latest available version for me from the play store.

Edit.: Do you mean I should download the latest release from Github (the apk)?

[2022-06-07 10:18] rishiba opened #270 "[BUG]"
**Describe the bug**
In 30 Day Challenge pack - when I listen to a meditation and complete it fully - the streak is not marked. The day is not ticked complete.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '30 DC Pack'
2. Click on 'Any day for example day 1 day 2'
3. Complete the meditation (either sit for 20 mins or scroll the slider to 19:55 mins and wait for it to complete)

**Exp

[2022-06-07 12:27] michaelcspeed commented on #270
Thank you for the thorough bug report @rishiba . This issue is now fixed and will be released in the next version (which will be 2.0.45)

[2022-06-07 12:27] #270 closed, assigned to nobody

[2022-06-07 14:13] rishiba commented on #270
Do we have any workaround for this?

[2022-06-07 17:23] michaelcspeed commented on #270
Yes you can edit the streak by tapping on it, or swipe on the session to mark it as listened to

[2022-06-09 07:29] IzzySoft commented on #195
Which is now due to be closed, as there's no progress and apart from the team's questions for updates has no activity. Cross-checking with the comments here, the main issue there was Firebase, which is now gone. So let me see what I can do "over there". Would be nice if someone from your team here could chime in there so your supporting the inclusion becomes visible :wink:

[2022-06-09 08:42] licaon-kter commented on #195
Not sure how the projects'

...requirements fit [with F-Droids' one](https://f-droid.org/en/docs/Inclusion_Policy/)

[2022-06-09 15:47] MakeGnomeWebFast opened #271 "Daily reminder to meditate"
It could be awesome to have a daily reminder notification in the app that suggests you to meditate. Better yet, integrate it with the quote inside the app so that Medito sends a notification like Time to meditate! + the daily quote.

[2022-06-09 19:22] raycadle opened #272 "Only one session playable until complete app restart - F-Droid"
Pretty much the title. After listening to the first welcome session, I could no longer listen to anything in the app—nothing plays. I had to completely close the app before anything would play, and then the issue happened again. The app seems great so far, but this bug makes it a bit unusable.

[2022-06-15 06:15] saralaya00 commented on #271
+1 This is something I miss after moving from waking up app

[2022-06-16 11:34] highvortex commented on #272
+1
This however is only in f-droid version, the play store version doesn't have this problem.

[2022-06-20 17:23] nixbitpie commented on #272
+1 Also F-Droid.

[2022-06-20 17:26] nixbitpie commented on #261
It would be nice to have alternatives other than Google One for backup.

[2022-06-20 17:29] nixbitpie commented on #243
I agree. This could be as simple as replacing the play icon with a checkmark icon in front of the titles, after they've been played.

[2022-06-29 17:39] RomanHauksson commented on #261
[Neo Backup](https://github.com/NeoApplications/Neo-Backup) or [Seedvault](https://github.com/seedvault-app/seedvault) might work as alternatives.

[2022-07-06 07:34] licaon-kter commented on #195
Only way this would work is if when needed you pop-up a dialogue asking for the user API key then use that.

[2022-07-06 19:19] IzzySoft commented on #195
Which BTW is what many other projects do in similar situations, and thus can count at least as "good practice" (if not even "best practice").

[2022-07-08 05:04] ghost commented on #261
Neo backup requires root and not sure how to use seedvault.
I want to use the fdroid version of Medito, but can't transfer data even with Google backup. So, I also would like to see a way to import/export stats.

[2022-07-25 15:00] michaelcspeed commented on #268
The latest version on the Play Store should be 2.0.48 - not sure why you're seeing an old version. Please feel free to open this again if it is reproducible on the latest version. Thanks!

<img width="696" alt="Screenshot 2022-07-25 at 17 00 07" src="https://user-images.githubusercontent.com/4272338/180808521-935e5519-9eab-4dd0-b7f3-c306ced911bd.png">

[2022-07-25 15:00] #268 closed, assigned to nobody

[2022-07-25 15:03] michaelcspeed commented on #271
Please request new features by emailing us. We don't have a good process for this yet unfortunately, but Github Issues is for bugs. Thanks!

hello@meditofoundation.org

[2022-07-25 15:03] #271 closed

[2022-07-25 15:05] michaelcspeed commented on #261
We will probably implement accounts at some point, or maybe just a CSV export. This has been added to our feature request list. Thanks!

[2022-07-25 15:05] #261 closed, assigned to nobody

[2022-07-25 15:05] michaelcspeed commented on #243
This has been added to our feature request list. Thanks!

[2022-07-25 15:05] #243 closed, assigned to nobody

[2022-07-25 15:07] michaelcspeed commented on #272
Please contact the maintainer of the F-Droid repo. The FDroid fork needs to be updated by them.
Let's keep this page for issues with the main repo. :)

[2022-07-25 15:07] #272 closed, assigned to nobody

[2022-07-25 15:07] #241 closed, assigned to michaelcspeed

[2022-08-09 09:03] CodeCubeNeo opened #278 "Add a delete confirmation dialog when deleting downloads"
I think that a confirmation option would be helpfull, so that users dont delete things acidentaly...

[2022-08-30 09:59] TailyFair opened #279 "[BUG] Audio streaming does not work"
**Describe the bug**
Sometimes audio streaming does not work. No matter how long I wait, exit to other windows or try different sessions, it keeps on being stuck. Unless I restart the app or download session locally and play it from local files.

**To Reproduce**
Steps to reproduce the behavior:
1. Happens randomly after listening to more than 1 meditation

**Expected behavior**
Audio streaming wo

[2022-09-07 02:10] stralytic opened #280 "Integration with Google Fit"
Hi there

I am using some quantified self software to track habits. I'd like to measure my meditation habit to keep track of it in various quantified self platforms. On Android, most of them source that information from Google Fit.

Would it be possible to send meditation time logs to the Google Fit service?

[2022-09-24 06:34] VladMasarik opened #282 "feature: Add an interval timer into the regular timer"
Would it make sense to add an interval timer that would ring during the regular timer?

Eg. I usually set a normal timer for X minutes. But then I always want an extra gong or two every 3 minutes so that I am reminded to stop wondering around.

Right not you can set only the total time, but no interval timer. Something along the lines of here
https://www.meditation-timer.com/
https://github.com/br

[2022-09-24 06:37] VladMasarik opened #283 "feature: Use more flexible timer selection"
The possibility to choose 3, 5, 8, 10 ... minute timers is great, and covers most of the cases, but could we include a "time selector" like the ones you have on an alarm? Or like on this website?

https://www.meditation-timer.com/
https://github.com/brenjamin/meditation-timer

[2022-09-26 22:17] stralytic commented on #280
Apologies, I just saw that Issues are not to be used for feature requests. Closing this bug. Discussion link below.

https://github.com/meditohq/medito-app/discussions/284

[2022-09-26 22:17] #280 closed, assigned to nobody

[2022-09-27 14:43] zsolt-dev opened #285 "Feature request: Integration with HealthKit"
Benefits:
- Track meditations in healthkit (accross multiple meditation apps)
- Track heart rate during metitation.
If you report to healthkit that a meditation is in progress, it starts HR monitoring on Apple Watch. This is usefull for heart rate variability changes and for calculating the difference at the meditation start and end.

I know this might be a niche and wont be high in the priorities

[2022-10-12 21:41] shubham08gupta commented on #285
I would love to see this feature. It will help me track my meditation time in Apple Health app.

[2022-10-15 02:52] TheRealWHfan opened #288 "[BUG] Sometimes minutes listened duplicates for daily meditations"
**Describe the bug**
Sometimes double the minutes of a meditation session is added onto minutes listened. For example if i listen to a 15 minute meditation session in the daily meditation section 30 minutes will be added to minutes listened.

To reproduce the bug please listen to a few daily meditations of varying lengths and then look at the time added to minutes listened after each listen. It do

[2022-10-20 04:47] anantinfinity opened #290 "Pull Request: I hv done PR for adding app icon to support A12+ Themed Icons"
The app doesn't support themed icons on Android 12+ launchers. I added code to make it support themed icon thing. Please check

[2022-10-21 12:07] zRelux opened #291 "[BUG] Slack channel link"
Hello guys wanted to join the slack channel but the link doesn't seem to work. Any help?

[2022-10-23 00:36] jonathan-s commented on #282
I would also like to see this. Also right now there is no free form timer. The max you can set is 60min you might want to set 120 min or 45 min or some other odd number.

[2022-11-04 03:49] DevChaudhary78 opened #292 "Integrate UPI for Indian donations 💖"
today, as a long-time user of this app, I decided to donate to the cause of Medito. when I went to the donation page, I saw stripe as a payment method. however, as an Indian, UPI is a way more efficient method of donating money with one click.

UPI: is a Unified Payment Interface, made by the Indian Govt. to ease online transactions from bank to bank.

Note: I know it might be tough for the devs t